<!-- Survey display -->
<h2>Survey Results</h2>
<div class="container">
<h2>Survey name:  <%= @survey.name%></h2>
<br>
<% questions = Question.where(survey_id: @survey.id ) %>
  <% questions.each do |question| %>
   <ul>Question:  <%=question.prompt  %></ul>
    <% ch = question.choices %>
    <br>
    <% ch.each do |choice| %>
    <li><%= @results_hash[choice.id] %>: <%= choice.label %> </li>
    <br>
    <% end %>
  <% end %>
</div>
