input:required:invalid {
	background-color: rgba(255,0,0,0.1);
}
input:required:valid {
	background-color: rgba(0,255,0,0.1);
  }

header{
  padding: 10px;
  margin-top: -30px;
  width: 100%;
  height: 150px;
  background-color: black;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
}

li a{
  width: 60px;
  padding: 0 10px;
}
.nav_bar a:hover{
  box-shadow: 0px 0px 10px #888888;

}
h3{
   color:#1C1C1C;
}

header h1 {
  text-align: center;
  color:#848484;
  font-size: 6.25em;
}
footer{
  height: 100px;
  background-color: black;

}
.nav_bar{
  padding: 5px;
  height: 50px;
}
.nav_bar a:link{
  color: black;
}
.content{
  width: 80%;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 10px 0 0 10px;
  background-color: #BDBDBD;
  margin: auto;
  overflow: auto;
}

.login-logic{
  float: right;
}

.survey-links{
  float: right;
  color:#F2F2F2;
}

.survey-links a{
  color:#F2F2F2;
}

.homeh1{
  width: 100%;
  padding-top: 5px;
  border-bottom: 1px solid black;
}
.survey{
  float: right;
  width: 50%;
  text-align: right;
}

.survey a:link{
  color:#1C1C1C;
}

.todo{
  float: left ;
  width: 40%;
}

.todo a{
  color:black;
}

.container{
  width: 900px;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}
.submit{
  float:right;
}
form dl dt {
  margin-bottom: 10px;
}

dt{
  font-size: 20px;
}
dd{
  margin-top: -20px;
}


/****************************/

/*  DROP DOWN STYLE */
.dropdown-hidden {
  visibility: hidden;
  z-index: 3;
  position: fixed; 
  top: 20%; 
  left: 30%; 
  background-color: white;
  padding: 2em 4em; 
  border: 0.15em black solid;
}

.dropdown-show {visibility: visible;}

.dropdown-show aside {
  position: absolute;
  margin: 0.15em 0.15em 0 0;
  top:0;
  right: 0;
  margin: 1em 1em;
}


li {
  margin-left: 50px;
}

