<div container="login-logic">
  <% if @user %>
    
		<a href="users/<%= session[:user_id]%>">Profile Page</a>
    <a href="/users/logout">Logout</a>
  <% else %>
    <a class="sign-up" href="users/new">Sign Up</a>
    <a href="users/login">Login</a>
  <% end %>
    <a href="result/survey/3">Result</a>
  <br><br>
</div>
