<div class="login-logic">
  <ul>

    <% if @user = session[:user_id]%>

      <li><a href="/users/logout">Logout</a></li>
      
    <% else %>

      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/users/login">Login</a></li>

    <% end %>

  </ul>
  <br><br>

  <div class="dropdown-hidden signupdd">

    <!-- <aside><a href="#" class="close-me">close window</a></aside> -->
  
    <h3>Signup</h3>

      <%= @error if @error %>

      <form action="/users/new" method="post" id="login">
        <input type="text" name="new_user[name]" placeholder="Enter your name" required><br>
        <input type="email" name="new_user[email]" placeholder="Enter your email address" required><br>
        <input type="password" name="new_user[password]" placeholder="Choose a password" required><br>
        <input type="date" name="new_user[birthday]" placeholder="Enter your birthday" required><br>
        <% @regions.each do |reg| %>
        <input type="checkbox" name="new_user[region_id]" value=<%= reg.id %> required><%= reg.name.capitalize %><br><br>
        <% end %>
        <input type="submit" value="Sign me up!">
        <button class="close-me">Not Now</button>
      </form>
  </div>
</div>
