<div class="login-logic">
  <ul>
  <% if @user %>
    <li><a href="/users/logout">Logout</a></li>
  <% else %>
    <li><a href="/users/new">Sign Up</a></li>
    <li><a href="users/login">Login</a></li>
  <% end %>
    <li><a href="result/survey/3">View Results</a></li>
   </ul>
  <br><br>
</div>
