<div class="login-logic">
  <ul>
  <% if @user %>
    <li><a href="users/<%= session[:user_id]%>">Profile Page</a></li>
    <li><a href="/users/logout">Logout</a></li>
  <% else %>

    <li><a class="sign-up" href="#">Sign Up</a></li>
    <li><a href="users/login">Login</a></li>
  <% end %>
    <li><a href="result/survey/3">View Results</a></li>
   </ul>
  <br><br>

  <div class="dropdown-hidden signupdd">
  
    <h3>Signup</h3>

      <form action="/users/new" method="post" id="login">
        <input type="text" name="new_user[name]" placeholder="Enter your name" required><br>
        <input type="email" name="new_user[email]" placeholder="Enter your email address" required><br>
        <input type="password" name="new_user[password]" placeholder="Choose a password" required><br>
        <input type="date" name="new_user[birthday]" placeholder="Enter your birthday" required><br>
        <% @regions.each do |reg| %>
        <input type="checkbox" name="new_user[region_id]" value=<%= reg.id %> required><%= reg.name.capitalize %><br><br>
        <% end %>
        <input type="submit" value="Sign me up!">
        <button>Not Now</button>
      </form>
  </div>
</div>
