<h3>Login</h3>

<form action="/users/login" method="post" id="login">
  <input type="text" name="user[email]" placeholder="Enter your username"><br>
  <input type="password" name="user[password]" placeholder="Enter your password"><br>
  <input type="submit" value="Log me in">
</form>
