<h3>Login</h3>

<%= @error if @error %>

<form action="/users/login" method="post" id="login">
  <input type="text" name="email" placeholder="Enter your email"><br>
  <input type="password" name="password" placeholder="Enter your password"><br>
  <input type="submit" value="Log me in">
</form>
