<h3>Login</h3>

<form action="/login" method="post" id="login">
	<input type="text" name="login[username]" placeholder="Enter your username"><br>
	<input type="password" name="login[password]" placeholder="Enter your password"><br>
	<input type="submit" value="Log me in">
</form>

<h3>Signup</h3>

<form action="/users/create" method="post" id="login">
	<input type="text" name="new_user[user_name]" placeholder="Choose a username">
	<input type="email" name="new_user[email]" placeholder="Enter your email address">
	<input type="password" name="new_user[password]" placeholder="Choose a password">
	<input type="submit" value="Sign me up">
</form>