<div id="container">

<form action="/user/edit" method="get">
  <button type="submit">EDIT PROFILE</button>
</form>

<form action="/survey/new" method="get">
  <button type="submit">CREATE NEW SURVEY</button>
</form>

<h4>Surveys I Wrote</h4>
XXXX
XXXX
XXXX


<h4>Surveys I Wrote</h4>
XXXX
XXXX
XXXX

</div>