<h1>You Are Making a New Survey !!</h1>

<form action="/surveys/create" method="POST">
	
	<input type="text" name="name" placeholder="Please Enter Your Survey Title">

	<input type="submit" value="Submit">
</form>

