
<h1><%= @survey.name %></h1>

<table>

	<% @survey.questions.each_with_index do |q, i|%>
	<tr>
		<td><%= (i+1) %></td>
		<td><%= q.prompt %></td>
		<td><a href="">edit question</a> </td>




	</tr>



	<%end %>
	
</table>

<a href="/surveys/<%= @survey.id %>/questions/new">Add a Question!</a>

