
<header>

    <a href="/"><h1><img class="gorilla" src="/images/gorilla.png"></a>Survey Gorilla<img class="banana" src="/images/banana.jpg"></h1></a>
   <!--  <img class="banana" src="/images/banana.jpg">
    <img class="gorilla" src="/images/gorilla.png"> -->

</header>

