<div class="container">
  <h1> Welcome to Survey Gorilla! </h1>
  <% @surveys.each do |survey| %>
    <a href="/survey/<%= survey.id %>"> <%= survey.name %> </a>
    <br>
    Created by: <%= survey.get_user(survey.user_id) %>
    <br><br>
  <% end %>
</div>
